*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    --green-100: hsla(198, 41%, 96%, 1); /* for background color */
    --green-300: hsla(91, 94%, 86%, 1);
    --green-400: hsla(127, 67%, 76%, 1);
    --green-500: hsla(171, 52%, 52%, 1);
    --cyan-400: hsla(198, 76%, 31%, 1);
    --cyan-300: hsla(198, 43%, 46%, 1);
    --black-400: hsla(200, 96%, 10%, 1);
    --gray-300: hsla(0, 0%, 77%, 1);
    --gray-400: hsla(200, 9%, 72%, 1);
}

h1 {
    font: 400 2rem/1.2em 'Gelasio', serif;
}

h2 {
    font: 500 1.625rem/1.26em 'Gravitas One', cursive;
}

button {
    font-weight: 700; /* unfinished style - merge with actual button style */
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: var(--green-300);
    background-color: var(--cyan-400);
    border: none;
}

button:hover {
    background-color: var(--cyan-300);
}

.intro-h1__large {
    font-family: 'Gravitas One', sans-serif;
    font-weight: 400;
    font-size: 60px;
    letter-spacing: 5px;
    color: var(--green-300);
}

.intro-main {
    position: relative;
    background-color: hsla(0,0%,0%,0.5);
    background-blend-mode: darken;
    background-image: url("../images/intro_background.jpeg");
    background-size: cover;
    padding-left: 2em;
    padding-top: 7em;
    padding-bottom: 7em;
}

.intro-p__line {
    color: white;
    font-family: 'Gelasio';
    font-weight: 500;
    font-size: 26px;
    position: relative;
    left: 25px;
    width: 50%;
    line-height: 1.4;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 1.25em 0em 1.75em 0em;
}

.intro-p__line::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: -25px;
    width: 8px;
    background-color: var(--green-300);
    border-radius: 4px;
}

.intro-button__next {
    font-size: 1.5rem;
    padding: 0.65em 1.25em 0.65em 1.25em;
    border-radius: 0px 16px 0px 16px;
}